.title {
    font-weight: 700;
    font-size: 24px;
}
.row {
    height: 100%;
    display: grid;
    grid-template: 100% 100% / 60% 40%;
}

.col:first-child {
    display:grid;
    grid-template-rows: auto 1fr;
}

.col:last-child {
    display: grid;
    align-items: center;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    position: relative;
}
.app {
    height: 100vh;
    background: url('../assets/background.jpg') center / contain no-repeat;
    overflow:hidden;
}

.app__item {
    position: absolute;
    bottom: 0;
    left: 0;
    width:50%;
}

.header {
    padding-top: 25px;
    width: 100%;
}

.to-do {
    z-index: 2;
    padding:50px 0;
}

.to-do__wrapper {
    position: relative;
    background: #E98787;
    padding:10px;
    display: grid;
    height:100%;
}

.to-do__wrapper:before, .to-do__wrapper:after{
    display: block;
    background: #ffff;
    width:10px;
    height: 10px;
    content:"";
    position: absolute;
    border-radius:100%;
    top: 10px;
}

.to-do__wrapper:before {
    left: 10px;
}

.to-do__wrapper:after {
    right: 10px
}

.to-do__header {
    text-align: center;
    padding-bottom: 10px;
    font-size: 34px;
    color:#ffff;
    border-bottom: 3px solid #fff;
}

.to-do__content {
    padding-top: 15px;
    overflow: auto;
}
.to-do__item {
    margin: 15px 0;
    display: flex;
    align-items: center;
    opacity: 0.8;
    transition: all .2s linear;
}

.to-do__item:hover {
    opacity: 1;
}

.to-do__item span {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: block;
    content:"";
    border: 3px solid #fff;
}

.to-do__item p{
    color:#fff;
    font-size: 22px;
}

.to-do__button {
    background:#ffff;
    color:#000;
    border: 3px solid transparent;
    font-size: 28px;
    transition: all .2s linear;
    cursor:pointer;
}

.to-do__button:hover {
    background: transparent;
    border: 3px solid #fff;
    color:#fff;
}

.create-item {
    background: #E98787;
    padding:10px;
    position: absolute;
    transform: translateX(0);
    bottom:0;
    left: 0;
    z-index: -1;
    transition: all .1s linear;
    opacity: 0;
}

.create-item.open {
    z-index: 1;
    opacity: 1;
    transform:translateX(-100%) translateX(-9px);
}

.create-item:before {
    content:"";
    background: #E98787;
    width: 10px;
    height: 5px;
    position: absolute;
    top: 0;
    right:0;
    transform:translateX(9px);
}

.create-item:after {
    content:"";
    background: #E98787;
    width:10px;
    height: 5px;
    position: absolute;
    bottom: 0;
    right:0;
    transform:translateX(9px);
}

.create-item form {
    display: grid;
    grid-template: repeat(3, 30px) / minmax(300px, auto);
    row-gap: 10px;
}

.create-item form input {
    padding:5px;
    background: #ffffff;
    color:#000;
}

.create-item form button {
    background:#ffff;
    color:#000;
    border: 3px solid transparent;
    font-size: 20px;
    transition: all .2s linear;
    cursor:pointer;
}

.create-item span:first-child {
    position: absolute;
    height: 100%;
    top: 0;
    left:0;
    box-sizing: border-box;
    content:"";
    width:10px;
}


.create-item span:first-child:before, .create-item span:first-child:after{
    background: #ffff;
    width:4px;
    height: 4px;
    content:"";
    position: absolute;
    border-radius:100%;
    left:5px;
}


.create-item span:first-child:before {
    top:5px;
}

.create-item span:first-child:after {
    bottom: 5px;
}

.to-do__description {
    display:grid;
    color:#ffff;
    grid-template: minmax(15px, auto) / 100%;
    margin-left: 10px;
}

.to-do__done {
    position: relative;
}

.to-do__done:before {
    content:"✓";
    top: 50%;
    left: 50%;
    color:#fff;
    font-size: 24px;
    transform:translate(-50%, -50%);
    opacity: 0;
    position: absolute;
    transition: all .1s linear;
}

.to-do__done:hover:before {
    opacity: 1;
}

/* Адаптив */
@media (max-width: 767.98px) {
    .row {
        grid-template: auto 1fr / 100%;
    }
    .create-item {

    }
    .to-do {
        padding: 0;
    }
    .header {
        padding-top: 10px;
        text-align: center;
    }
    .header__logo img {
        width: 100px;
    }
    .create-item form {
        grid-template:auto / auto;
    }

    .create-item.open {
        transform: none;
        bottom: 62px;
    }

    .create-item span:first-child {
        display: none;
    }
}

@media (max-width: 1199.98px) {
    .container {
        padding: 0 15px;
    }
}